/* File icons font and styles from file-icons-js */
@import 'file-icons-js/css/style.css';

/* FileTree component styles */

.file-tree-container {
  width: 100%;
}

.tree-node {
  width: 100%;
}

/* Override react-arborist default styles */
.react-arborist-tree-view {
  height: 100% !important;
}

.react-arborist-node {
  cursor: pointer;
}

.react-arborist-node-content {
  width: 100%;
}

/* Fallback icon for unrecognized file types */
.default-icon:before {
  font-family: octicons;
  font-size: 16px;
  top: 1px;
  content: '\f011';
  color: #6a9fb5;
}
